.timestampbar {
  background-color: #f0ebd8;
  display: flex;
  flex-direction: row;
}

.actions {
  background-color: #796418;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plus {
  display: flex;
  justify-content: center;
}

.youtube-controls {
  display: flex;
  justify-content: center;
}
.default-field {
  display: flex;
  justify-content:space-between;
}
.default-parameters {
  display: flex;
}

