* {
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
  box-sizing: border-box; /* Include padding and border in width/height */
  border-radius: 3px;
  color: rgb(219, 219, 219);
  text-align: center;
}

.whole-timestamp {
  display: flex;
  flex-direction: column; /* Stack the children vertically */
  height: 100vh; /* Make the container take up the full height of the viewport */
}

body {
  background-color: #0c1116;
  height: 100vh;
  overflow: hidden;
}
/* Timestamp Bar  */

.timestampbar {
  background-color: #17222c;
  display: flex;
  flex-direction: column;
  padding: 20px;


}

.timestamp-list {
  list-style: none;
  
}
.padding-right {
  padding-left: 10px;
}

.timestamp-container{
  
  background-color: #1A1A1D;
  overflow: scroll;
  height: 100%;

}

.seek{
  display: flex;
  flex-direction: column;
  
}
.actions {

  display: flex;
  flex-direction: column;
}

.plus {
  display: flex;

}

.youtube-controls {
  display: flex;

}
.default-field {
  display: flex;
  
}
.default-parameters {
  display: flex;
  
}

.selected-button {

}

.play-color{
  background-color: greenyellow;
}

.delete-color{
  background-color: rgb(146, 0, 0);
}

.option-button {
  background-color: #435B66;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 30px;
  line-height: 30px;
  outline: 0;
  overflow: hidden;
  width: 70px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  
  
  
  vertical-align: top;
  white-space: nowrap;
  
  
  border: 0;
}


.option-button:hover{
  background-color: #3f2b2b;
}
.selected-button  {
  background-color: initial;
  background-image: linear-gradient(-180deg, #610000, #ff0000);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 30px;
  line-height: 30px;
  outline: 0;
  overflow: hidden;
  width: 70px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  
  z-index: 9;
  border: 0;
}

.divider {
  width: 20px;
  background-color: darkslategrey;
  height: 100vh;
  margin-left: 10px;
  margin-right: 10px;
  transition-duration: .2s;
}

.divider.divider:active{
  background-color: #707070;
}

.more-width {
  width: 100px;
}


/* CSS */
.play-button {
  background-color: initial;
  background-image: linear-gradient(-180deg, #A76F6F, #3f2b2b);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  
  z-index: 9;
  border: 0;
}

.play-button:hover {
  background: #EAB2A0;
}
input {
  
  padding: 12px 20px;
  font-size: 15px;
  border: 2px solid #ccc;
  border-radius: 25px;
  outline: none;
  transition: all 0.3s ease;
  background-color: #ffffff;
  color: #333;
  width: 200px;
  height: 10px;
}

input:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 8px rgba(108, 99, 255, 0.5);
}

input::placeholder {
  color: #aaa;
  font-style: italic;
}

.flex-end {
  justify-content: space-between;    
}