* {
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
  box-sizing: border-box; /* Include padding and border in width/height */
  border-radius: 3px;
}

.whole-timestamp {
  display: flex;
  flex-direction: column; /* Stack the children vertically */
  height: 100vh; /* Make the container take up the full height of the viewport */
}

body {
  background-color: #3a3a3a;
  height: 100vh;
  overflow: hidden;
}
/* Timestamp Bar  */

.timestampbar {
  background-color: #f0ebd8;
  display: flex;
  flex-direction: column;
  padding: 1em;

}

.timestamp-list {
  list-style: none;
  
}

.timestamp-container{
  
  background-color: #e0e0e0;
  padding: 1em;
  overflow: scroll;
  height: 100vh;

}

.seek{
  display: flex;
  flex-direction: column;
  
}
.actions {
  background-color: #a09a83;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plus {
  display: flex;
  justify-content: center;
}

.youtube-controls {
  display: flex;
  justify-content: center;
}
.default-field {
  display: flex;
  
}
.default-parameters {
  display: flex;
}

.selected-button {
  background-color: rgb(151, 18, 18);
  color: rgb(255, 255, 255);
}




.divider {
  width: 20px;
  background-color: #0a0a0a;
  height: 100vh;
  margin-left: 10px;
  margin-right: 10px;
  transition-duration: .2s;
}

.divider.divider:active{
  background-color: #707070;
}