.timestamp{
    background-color: #182225;
    border: 2px solid black;    
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: rgb(231, 231, 231);
    font-size: 15px;
}

.playing{
    background-color: rgb(0, 168, 17);
    color: aliceblue;
}

.hor-field{
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;
}

.start-duration-stuff{
    display: flex;
    flex-direction: row;
}

.column-flex{
    display: flex;
    flex-direction: column;
    padding: 10px;;
}

.up-down-container{
    padding-top: 10px;
    padding-bottom: 10px;
}

.flex-hor{
    display: flex;

    flex-direction: row;
}

.flex-ver{

    display: flex;
    flex-direction: column
}

.padding10 {
    padding: 20px;
    
}

